@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Autor: @ViewData["Autor"]</p>

<address>
    <strong>Linkedin: </strong> <a href="https://www.linkedin.com/in/anderson-de-oliveira-lima-133722149/">Anderson de Oliveira Lima</a>
</address>