@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bandtec Digital School<br />
    Rua Haddock Lobo 595<br />    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:anderson.lima@bandtec.com.br">anderson.lima@bandtec.com.br</a><br />
</address>
